.featured-section {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 10px 30px;
    height: 380px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 0.3s ease;
    box-sizing: border-box;
}

    .featured-section:hover {
        background-color: rgb(255, 255, 255, 0.05);
    }

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 1860px;
    height: 100%;
    background-image: url('../../assets/images/hape_banner2.png');
    background-size: cover;
    background-position: center -90px;
    opacity: 0.9;
    z-index: -1;
}

.slogan {
    width: 100%;
    padding: 0 30px;
    border-radius: 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.75em;
    box-sizing: border-box;
    color: var(--primary2);
    z-index: 2;
}


